<p id="notice"><%= notice %></p>

<h1>Posts</h1>

    <% @posts.each do |post| %>
      <h1><%= post.title%></h1>
      <p><%= post.body %></p>
      <small><%= time_ago_in_words(post.created_at) %> ago </small>
      <% if user_signed_in? %>
      <small>by <%= post.user.try(:email) %></small>
      <% else %>
      <small>Anonymous</small>
      <% end %>
    <% end %>


<br>

<%= link_to 'New Post', new_post_path %>
